<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persondatapolitik</title>
</head>
<body>

<div>
    <button onclick="window.location.href='/'">Tilbage til forsiden</button>
</div>

<section id="privacy-policy">
    <h2>Persondata</h2>
    <h3>Persondatapolitik</h3>
    <p><strong>1. GENERELT</strong></p>
    <p>1.1	Denne politik beskriver, hvordan Johannes Fog A/S indsamler og behandler de personoplysninger, som du afgiver til os, eller som vi indsamler om dig via Johannes Fog A/S’ hjemmeside, <a href="https://www.johannesfog.dk">www.johannesfog.dk</a></p>
    <p><strong>2. KONTAKTOPLYSNINGER PÅ DEN DATAANSVARLIGE</strong></p>
    <p>2.1	Johannes Fog A/S er dataansvarlig for de persondata, som vi indsamler.</p>
    <p>2.2	Johannes Fog A/S har fælles dataansvar med Facebook for personoplysninger, der indsamles ved hjælp af Facebooks analyseværktøj ”Facebook Indblik i side”, når du besøger vores Facebookside. Læs mere under pkt. 3.4.</p>
    <p><strong>3. HVILKE PERSONOPLYSNINGER INDSAMLER VI, TIL HVILKE FORMÅL OG RETSGRUNDLAGET FOR BEHANDLINGEN</strong></p>
    <p>3.1	Når du besøger hjemmesiden, indsamler vi oplysninger om din brug af hjemmesiden, f.eks. om hvilken type browser du bruger, hvilke søgetermer du bruger, din IP-adresse, herunder din netværkslokation, og informationer om den enhed du bruger til at besøge hjemmesiden, Vi indsamler ligeledes oplysninger om, hvilke varer og ydelser du klikker på og lægger i kurven. Oplysningerne indsamles bl.a. ved brug af cookies, når du giver samtykke til det via vores cookiebanner. Læs mere i vores cookiepolitik</p>
    <p><strong>4. LEGITIME INTERESSER, DER FORFØLGES VED BEHANDLINGEN</strong></p>
    <p>Som nævnt ovenfor sker vores behandling af dine personoplysninger delvist på baggrund af interesseafvejningsreglen i databeskyttelsesforordningens artikel 6, stk. 1, litra f. Vi har foretaget en afvejning af vores legitime interesser i at foretage markedsføring, forbedre hjemmesiden, sikkerheden og forhindre svig og dine interesser for at sikre, at dine interesser eller grundlæggende rettigheder eller frihedsrettigheder ikke overstiger vores interesser. Ønsker du flere oplysninger om den afvejning, vi har foretaget, kan du kontakte os på den adresse, der står under pkt. 2.</p>
    <p><strong>5. MODTAGERE AF PERSONOPLYSNINGER</strong></p>
    <p>4.1	Oplysninger om dit navn, adresse, e-mail, telefonnummer samt ordrenummer og specifikke leveringsønsker videregives til PostNord, GLS eller en anden transportør, der forestår leveringen af de købte varer til dig. Ved køb af varer, som ikke står på vores eget lager, kan de nævnte oplysninger videregives til den producent eller importør af den pågældende vare, som i så fald vil forestå leverancen.</p>
</section>

<footer>
    <p>VERSION: 1.01, Dato: 26-10-2022</p>
</footer>

</body>
</html>