<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Købs- og leveringsvilkår</title>
</head>
<body>

<div>
    <button onclick="window.location.href='/'">Tilbage til forsiden</button>
</div>

<header>
    <h1>Købs- og leveringsvilkår</h1>
</header>
<main>
    <section>
        <h2>Købsvilkår</h2>
        <p>Ved ordreafgivelsen reserveres beløbet på betalingskortet. Beløbet indløses først på dit kort, når varerne er sendt fra vores varelager. Der kan aldrig trækkes et større beløb end det, du har godkendt ved købet. Overførslen af dine kortinformationer og det aftalte købsbeløb sker i krypteret form via Netaxept. Vi gemmer ikke dine oplysninger, og der tages ikke gebyr ved betaling på webshoppen.</p>
        <p>Du kan betale med følgende betalingskort:</p>
        <ul>
            <li>Dankort</li>
            <li>VISA Dankort</li>
            <li>VISA Electron</li>
            <li>Mastercard Debit</li>
            <li>Maestro</li>
            <li>JBC Card</li>
        </ul>
        <p>Alle vores priser i webshoppen er angivet i danske kroner og er alle inklusiv moms. Priserne i webshoppen og i de fysiske butikker er identiske.</p>
    </section>
    <section>
        <h2>Leveringsvilkår</h2>
        <p>Bestillinger leveres afhængigt af ordrens sammensætning og leveringssted med følgende leverandører:</p>
        <ul>
            <li>GLS (Pakkeshop og Erhverv) - priser fra kr. 47,00</li>
            <li>PostNord (Pakkeshop og Omdeling) - priser fra kr. 60,00</li>
            <li>Danske Fragtmænd - priser fra kr. 450,00</li>
            <li>Fog Logistik - priser fra kr. 450,00</li>
        </ul>
    </section>
    <section>
        <h2>Klik & hent</h2>
        <p>Hovedparten af vores produkter er på lager og kan bestilles som Klik & hent, så du kan hente din ordre gratis i en af vores forretninger, inden for ca. 3 timer.</p>
        <p>Lagerstatus og afhentningstid på produkterne fremgår på produktsiden.</p>
        <p>Du modtager en SMS, når din ordre er klar til afhentning.</p>
        <p><strong>Sådan virker Klik & hent:</strong></p>
        <ol>
            <li>Find dine ønskede produkter og vælg den forretning, hvor du ønsker at afhente din ordre</li>
            <li>Bestil og betal</li>
            <li>Du modtager en SMS, når din ordre er klar til afhentning</li>
            <li>Hent ordren i din ønskede forretning</li>
        </ol>
    </section>
</main>
<footer>
    <p>Få kvalificeret rådgivning i Fog, så du nemt kan vælge. Vi står klar til at hjælpe med dit næste bygge- eller renoveringsprojekt.</p>
</footer>
</body>
</html>