<!DOCTYPE html>
<html lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Reklamation og klage</title>

</head>
<body>

<div>
    <button onclick="window.location.href='/'">Tilbage til forsiden</button>
</div>

<h1>Reklamation og klage</h1>

<p>Reklamationsret</p>
<p>Købelovens mangelsregler gælder for varekøb. Når du handler hos os som forbruger, har du reklamationsret i 24 måneder. Hvis din reklamation er berettiget, betyder det, at du enten kan få varen repareret, ombyttet, pengene tilbage eller et afslag i prisen afhængig af den konkrete situation.</p>
<p>Du skal reklamere inden for ”rimelig tid”, efter at du har opdaget fejlen. Hvis du reklamerer inden for to måneder efter, at fejlen er opdaget, vil reklamationen altid være rettidig. Er reklamationen berettiget, refunderer vi dine (rimelige) fragtomkostninger.</p>
<p>Når du ønsker at reklamere over en vare, bedes du følge nedenstående procedure:</p>
<ol>
    <li>Kontakt Fog og giv en præcis beskrivelse af fejl eller mangler ved varen.</li>
    <li>Vis meget gerne fejlen/manglen med billeder.</li>
    <li>Herefter tages der konkret stilling til, om varen skal sendes retur.</li>
    <li>Hvis varen skal sendes retur, bedes du vedlægge en detaljeret beskrivelse af problemet samt kopi af din bon/faktura.</li>
    <li>Varen skal altid sendes tilbage i forsvarlig emballage, og husk at få en kvittering for afsendelse, så vi kan tilbagebetale dine fragtomkostninger.</li>
</ol>
<p>Varen sendes til:</p>
<address>
    Johannes Fog Webshop<br>
    Lyshøjvej 14<br>
    3650 Ølstykke<br>
    <br>
    eller<br>
    <br>
    Fog Bolig & Designhus<br>
    Firskovvej 20<br>
    2800 Lyngby<br>
</address>
<p>Se evt. på fakturaen, hvilken adresse du skal returnere til.</p>
<p>NB! Vi modtager hverken pakker uden omdeling eller pakker sendt pr. efterkrav.</p>

<p>Klageadgang</p>
<p>Hvis du vil klage over dit køb, skal du kontakte os ved at sende en mail til <a href="mailto:info@johannesfog.dk">info@johannesfog.dk</a>. Hvis det ikke lykkes os at finde en løsning, kan du sende en klage til:</p>
<address>
    Nævnenes Hus<br>
    Toldboden 2<br>
    8800 Viborg<br>
    <a href="https://naevneneshus.dk" target="_blank">naevneneshus.dk</a>
</address>
<p>Har du bopæl i et andet EU-land end Danmark, kan du klage til EU-Kommissionens online klageportal <a href="http://ec.europa.eu/odr" target="_blank">her</a>.</p>

<p>Købs- og leveringsvilkår er senest opdateret 16.02.2022.</p>
</body>
</html>